<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
    <%- include('partials/header') %>
    <% if (locals.message) { %>
      <p><%= message %></p>
    <% } %>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file" required>
      <button type="submit">Submit</button>
    </form>
    <div>
      <% if (uploads.length > 0) { %>
        <% uploads.forEach(fileName => { %>
          <%- include('partials/uploadedFile', {fileName: fileName}) %>
        <% }); %>
      <% } %>
    </div>
    <a href="/auth/log-out">Log out</a>
    <%- include('partials/footer') %>
  </div>
</body>
</html>